*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.header{
    height: 100vh;
}
.navbar-style{
    box-shadow: 0 5px 10px #efefee;
    text-transform: uppercase;
}

.logo{
    height: 48px;
    padding: 2px 10px;
}
.icon-bar{
    background: darkorange;
}
li a{
    color: black;
    font-size: 18px;
    word-spacing: 1px;
}
.big-text
{
    font-size: 52px;
    margin: 20px 0;
    color:darkorange
}
a.btn
{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;

}
a.btn-first{
    background-color: darkorange;
    color: #fff;
}
a.btn-second{
    background: transparent;
    border: 1px solid darkorange;
}
a.btn:hover{
    background: darkorange;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 5px #999;
    transition: 0.3s;
}
.banner-info, .banner-image{
    margin: 30px 0px;

}
.roww{
 background-color: rgb(247, 245, 245);
 
 display: flex;
 align-items: center;
 align-content: center;
    
   
}
.Faculty img{
    width: 75px;
}

.second-half{
    margin: 35px 0px;
    padding: 40px 0px;

}

.undergrad{
    margin: 60px 110px;
    padding: 15px 23px;

}

.Faculty{
    margin: 0px 78px;
    padding: 8px 10px;


}

.Staff{
    margin: 0px 66px;
    padding: 0px 50px;
}

.projects{
    margin: 0px 53px;
    padding: 0px 100px;
}

footer{
    width: 100%;
    position: relative;
    bottom: 0px;
    background: linear-gradient(to right,#00093c,#2d0b00);
    color: #fff;
    padding: 60px 0px 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.logo2{
   height: 150px;
   width: 150px;
}

 footer .col{
    flex-basis:25%;
    padding: 10px;
    font-size: 18px;
}

footer .col h3{
    width: fit-content;
    margin-bottom: 40px ;
    position: relative;
}
.email-id{
    width:fit-content;
    border-bottom:1px solid #ccc ;
    margin: 20px 0px;
}
footer ul li{
    list-style: none ;
    margin-bottom: 12px;
}
 footer ul li a{
    text-decoration: none;
    color: #fff;
}
form{
    padding-bottom:15px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
 form .far{
    font-size: 18px;
    margin-right: 10px;
 }
 form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
    font-size: 17px;
 }

 form button{
    background: transparent;
    border: 0px;
    outline: none;
    cursor: pointer;
 }
 form button.fas{
    font-size: 16px;
    color: #ccc;
 }